<tr class="row">
    <td class="input-group col-2">
        <select class="form-control">
            <option *ngFor="let item of optionsList" value="item">{{ item }}</option>
        </select>
    </td>
    
    <td class="input-group col-2">
        <input type="text" class="form-control">
    </td>

    <td class="input-group col-2">
        <input type="text" class="form-control">
    </td>

    <td class="input-group col-2">
        <input type="text" class="form-control">
    </td>

    <td class="col-4">
        <button class="item_list__button_add"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="item_list__button_remove "><i class="fa fa-minus" aria-hidden="true"></i></button>
        <input type="checkbox" id="boldCheckbox ">Bold
        <input type="checkbox" id="boldCheckbox ">Underline
        <select>
            <option *ngFor="let item of optionsList" value="item">{{ item }}</option>
        </select>
    </td>
</tr>

