<div class="seeker_select__main_container" (mouseenter)="toggleOptions(true)" (mouseleave)="toggleOptions(false)">
    <div class="seeker_select__input-container">
      <input type="text" class="form-control" [(ngModel)]="selectedOption" readonly>
    </div>
  
    <div class="seeker_select__options_container" *ngIf="isOptionsOpen">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="filterOptions()">
        <a *ngFor="let item of (filteredOptions | slice:0:10); let i = index" (click)="selectOption(i)">{{ item.name }}</a>
    </div>
  </div>